//
//  Production.xcconfig
//  WhatsHappenin
//
//  Created by Christian Tingle on 10/5/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
ROOT_URL = https:/$()/api.whatshappenin.app

// App Settings
APP_NAME = WhatsHappenin
APP_BUNDLE_ID = app.whatshappenin.WhatsHappenin
